*.o
*.pce
*.sym
*.s
/huc/bin
/huc/tgemu/tgemu*
/huc/src/huc/huc
/huc/src/huc/huc.exe
/huc/src/isolink/huc.exe
/huc/src/mkit/as/pceas.exe
/huc/src/mkit/as/fujias.exe
/huc/src/mkit/as/nesasm.exe
/huc/src/tools/mml/mml.exe
/huc/src/tools/mod2mml/mod2mml.exe
/huc/src/tools/pcxtool/pcxtool.exe




